In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [17]:
import pandas as pd
import numpy as np


dataset = pd.read_csv('/content/gdrive/My Drive/data.csv')
dataset.head()

   Unnamed: 0  match_event_id  ...  remaining_sec.1  distance_of_shot.1
0           0            10.0  ...          54.2000                38.0
1           1            12.0  ...          22.0000                35.0
2           2            35.0  ...          63.7216                54.4
3           3            43.0  ...          52.0000                42.0
4           4           155.0  ...          19.0000                20.0

[5 rows x 28 columns]

In [18]:
for ind in dataset.index: 
    if(np.isnan(dataset['remaining_min'][ind]) and not np.isnan(dataset['remaining_min1'][ind])):
        if((dataset['remaining_min1'][ind]-int(dataset['remaining_min1'][ind]))==0 ):
            dataset['remaining_min'][ind]=dataset['remaining_min1'][ind]
for ind in dataset.index:             
    if(np.isnan(dataset['power_of_shot'][ind]) and not np.isnan(dataset['power_of_shot.1'][ind])):
        if((dataset['power_of_shot.1'][ind]-int(dataset['power_of_shot.1'][ind]))==0 ):
            dataset['power_of_shot'][ind]=dataset['power_of_shot.1'][ind]
for ind in dataset.index:             
    if(np.isnan(dataset['knockout_match'][ind]) and not np.isnan(dataset['knockout_match.1'][ind])):
        if((dataset['knockout_match.1'][ind]-int(dataset['knockout_match.1'][ind]))==0 ):
            dataset['knockout_match'][ind]=dataset['knockout_match.1'][ind]
for ind in dataset.index:             
    if(np.isnan(dataset['distance_of_shot'][ind]) and not np.isnan(dataset['distance_of_shot.1'][ind])):
        if((dataset['distance_of_shot.1'][ind]-int(dataset['distance_of_shot.1'][ind]))==0 ):
            dataset['distance_of_shot'][ind]=dataset['distance_of_shot.1'][ind]
for ind in dataset.index:             
    if(np.isnan(dataset['remaining_sec'][ind]) and not np.isnan(dataset['remaining_sec.1'][ind])):
        if((dataset['remaining_sec.1'][ind]-int(dataset['remaining_sec.1'][ind]))==0 ):
            dataset['remaining_sec'][ind]=dataset['remaining_sec.1'][ind]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
for ind in dataset.index:
    if(pd.isnull(dataset['shot_id_number'][ind])):
        dataset['shot_id_number'][ind]=ind+1

for ind in dataset.index:
    if(pd.isnull(dataset['lat/lng'][ind])):
        temp=ind-1
        while pd.isnull(dataset['lat/lng'][temp]):
            temp-=1

        if(dataset['match_id'][ind]==dataset['match_id'][temp]):
            dataset['lat/lng'][ind]=dataset['lat/lng'][temp]

        else:
            temp=ind+1
            while pd.isnull(dataset['lat/lng'][temp]):
                temp+=1

            if(dataset['match_id'][ind]==dataset['match_id'][temp]):
                dataset['lat/lng'][ind]=dataset['lat/lng'][temp]


for ind in dataset.index:
    if(pd.isnull(dataset['game_season'][ind])):
        temp=ind-1
        while pd.isnull(dataset['game_season'][temp]):
            temp-=1

        if(dataset['match_id'][ind]==dataset['match_id'][temp]):
            dataset['game_season'][ind]=dataset['game_season'][temp]

        else:
            temp=ind+1
            while pd.isnull(dataset['game_season'][temp]):
                temp+=1

            if(dataset['match_id'][ind]==dataset['match_id'][temp]):
                dataset['game_season'][ind]=dataset['game_season'][temp]

for ind in dataset.index:
    if(pd.isnull(dataset['home/away'][ind])):
        temp=ind-1
        while pd.isnull(dataset['home/away'][temp]):
            temp-=1

        if(dataset['match_id'][ind]==dataset['match_id'][temp]):
            dataset['home/away'][ind]=dataset['home/away'][temp]

        else:
            temp=ind+1
            while pd.isnull(dataset['home/away'][temp]):
                temp+=1

            if(dataset['match_id'][ind]==dataset['match_id'][temp]):
                dataset['home/away'][ind]=dataset['home/away'][temp]

dataset.loc[dataset['home/away'].str.contains('vs'), 'home/away'] = '0'
dataset.loc[dataset['home/away'].str.contains('@'), 'home/away'] = '1'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
dataset['shot_basics'].fillna(dataset['shot_basics'].mode()[0], inplace = True)
dataset['range_of_shot'].fillna(dataset['range_of_shot'].mode()[0], inplace = True)
dataset['area_of_shot'].fillna(dataset['area_of_shot'].mode()[0], inplace = True)
dataset['location_y'].fillna(dataset['location_y'].median(), inplace = True)
dataset['location_x'].fillna(dataset['location_x'].median(), inplace = True)

dataset['remaining_sec'].fillna(dataset['remaining_sec'].median(), inplace = True)
dataset['remaining_min'].fillna(dataset['remaining_min'].median(), inplace = True)
dataset['distance_of_shot'].fillna(dataset['distance_of_shot'].median(), inplace = True)
dataset['knockout_match'].fillna(dataset['knockout_match'].median(), inplace = True)
dataset['power_of_shot'].fillna(dataset['power_of_shot'].median(), inplace = True)
dataset['game_season'].fillna(dataset['game_season'].mode()[0], inplace = True)


#dataset = dataset[dataset['remaining_sec'].notnull()]
#dataset = dataset[dataset['remaining_min'].notnull()]
#dataset = dataset[dataset['distance_of_shot'].notnull()]
#dataset = dataset[dataset['knockout_match'].notnull()]
#dataset = dataset[dataset['power_of_shot'].notnull()]
#dataset = dataset[dataset['game_season'].notnull()]
dataset.type_of_shot = np.where(dataset.type_of_shot.isnull(), dataset.type_of_combined_shot, dataset.type_of_shot)
drop_column = ['Unnamed: 0','match_id','team_id','team_name','match_event_id','date_of_game','remaining_min1', 'knockout_match.1','remaining_sec.1','distance_of_shot.1','power_of_shot.1','type_of_combined_shot']
dataset.drop(drop_column, axis=1, inplace = True)
               
print(dataset.isnull().sum())

location_x             0
location_y             0
remaining_min          0
power_of_shot          0
knockout_match         0
game_season            0
remaining_sec          0
distance_of_shot       0
is_goal             6268
area_of_shot           0
shot_basics            0
range_of_shot          0
home/away              0
shot_id_number         0
lat/lng                0
type_of_shot           0
dtype: int64

In [0]:
#from sklearn.preprocessing import labelencoder
from sklearn import preprocessing
label = preprocessing.LabelEncoder()
#label = LabelEncoder()
dataset['area_of_shot'] = label.fit_transform(dataset['area_of_shot'])
dataset['shot_basics'] = label.fit_transform(dataset['shot_basics'])
dataset['range_of_shot'] = label.fit_transform(dataset['range_of_shot'])
dataset['type_of_shot'] = label.fit_transform(dataset['type_of_shot'])
dataset['game_season'] = label.fit_transform(dataset['game_season'])
dataset['lat/lng'] = label.fit_transform(dataset['lat/lng'])
dataset['home/away'] = label.fit_transform(dataset['home/away'])

In [24]:
dataset.head()

   location_x  location_y  remaining_min  ...  shot_id_number  lat/lng  type_of_shot
0       167.0        72.0           10.0  ...             1.0       34            24
1      -157.0         0.0           10.0  ...             2.0       34            40
2      -101.0       135.0            7.0  ...             3.0       34            18
3       138.0       175.0            6.0  ...             4.0       34            23
4         0.0         0.0            5.0  ...             5.0       34             1

[5 rows x 16 columns]

In [25]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 16 columns):
location_x          30697 non-null float64
location_y          30697 non-null float64
remaining_min       30697 non-null float64
power_of_shot       30697 non-null float64
knockout_match      30697 non-null float64
game_season         30697 non-null int64
remaining_sec       30697 non-null float64
distance_of_shot    30697 non-null float64
is_goal             24429 non-null float64
area_of_shot        30697 non-null int64
shot_basics         30697 non-null int64
range_of_shot       30697 non-null int64
home/away           30697 non-null int64
shot_id_number      30697 non-null float64
lat/lng             30697 non-null int64
type_of_shot        30697 non-null int64
dtypes: float64(9), int64(7)
memory usage: 3.7 MB

In [26]:
dataset.describe()

         location_x    location_y  ...       lat/lng  type_of_shot
count  30697.000000  30697.000000  ...  30697.000000  30697.000000
mean       7.032446     90.267713  ...     24.259048     26.370395
std      107.618516     85.530512  ...     10.347837     11.617215
min     -250.000000    -44.000000  ...      0.000000      0.000000
25%      -59.000000      7.000000  ...     17.000000     23.000000
50%        0.000000     74.000000  ...     31.000000     23.000000
75%       90.000000    156.000000  ...     31.000000     34.000000
max      248.000000    791.000000  ...     37.000000     56.000000

[8 rows x 16 columns]

In [27]:
count=len(dataset)-dataset.count()
print(count)

location_x             0
location_y             0
remaining_min          0
power_of_shot          0
knockout_match         0
game_season            0
remaining_sec          0
distance_of_shot       0
is_goal             6268
area_of_shot           0
shot_basics            0
range_of_shot          0
home/away              0
shot_id_number         0
lat/lng                0
type_of_shot           0
dtype: int64

In [0]:
dataset1 = dataset[pd.isnull(dataset['is_goal'])==0]
dataset2 = dataset[pd.isnull(dataset['is_goal'])==1]